.list-item{
    list-style-type:none;
    display:flex;
    flex-direction:row;
    justify-content:space-between;
    width:300px;
    border:1px solid rgb(121, 121, 112);
    padding:6px;
    margin:10px;
    border-radius:5px;

}
.check-box-para{
    display:flex;
    flex-direction:row;
    align-items:center;
}
.line{
    color:rgb(249, 249, 21);
    font-family:"Roboto";
    font-size:15px;
    margin-left:10px;
}
.through{
    text-decoration:line-through;
   
}
.delete-btn{
    background-color:rgb(113, 14, 14);
    border:none;
    color:#ffffff;
    font-family:"Roboto";
    font-weight:bold;
    border-radius:4px;
    padding:2px;
    width:70px;
}
.check-box{
   height:20px;
}